[submodule "task_perturbation_prediction"]
	path = task_perturbation_prediction
	url = https://github.com/openproblems-bio/task_perturbation_prediction
[submodule "methods/contract_gen/RepoLaunch"]
	path = methods/contract_gen/RepoLaunch
	url = https://github.com/microsoft/RepoLaunch.git
